*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
   
}

#you{
    height: 100vh;
    width: 100%;
    background-image: url("open forest.jpg");
    background-size: cover;
    
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 7%;
    padding-right: 7%;
}

#me{
    background-color: aliceblue;
    padding: 5px 5px;
   font-size: 17px;
}

span{
    background-color: rgb(75, 73, 71);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
}

nav ul a{
    color: #ffffffb3;
    font-size: 17px;
    letter-spacing: 3px;
}

nav ul a:hover{
    background-color: rgb(42, 37, 37);
    color: rgb(211, 211, 174);
    transition: .4s;
}

button{
    background: #191919;
    padding: 12px 20px;
    color: white;
    border: 2px solid #191919;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 7px;
    letter-spacing: 2px;
}

button:hover{
    background: transparent;
    border:2px solid #ffffffb3;
    transform: scale(.9s);
    transition: .4s;
    cursor: pointer;
}

#content{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 105px;
}

#content h3{
    display: block;
    width: 100%;
    color: #ffffffb3;
    font-size: 23px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

#content h1{
    width: 100%;
    font-size: 100px;
    color: beige;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 25px;
}

#content p{
    width: 100%;
    color: #ffffffb3;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    margin-bottom: 30px;
    padding-top: 35vh;
    z-index: 5;
}

.btn{
    background: transparent;
    border: 2px solid #ffffffb3;
    padding: 7px 30px;
    color: beige;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 7px;
    z-index: 1;
}

.btn:hover{
    background: #191919;
    border: 2px solid #191919;
    transition: .2s;
    cursor: pointer;
}

.mainimg{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mainimg img{
    width: 300px;
    height: auto;
}